center
    font(size="2", color="#888888")
        | Designed by 
        a(href="https://github.com/nbzwt", target="_blank", style="color: inherit;") @ZephRay.
        | Made by 
        a(href="https://github.com/ntzyz", target="_blank", style="color: inherit;") @ntzyz.
    br
    font(size="2", color="#888888") Copyright (c) 2016-2017 cnVintage Team