form(method="get", action="/"): table(width="100%", border="0", cellspacing="0", cellpadding="0", bgcolor="#337000", height="54px", valign="bottom"): tr
    td(height="40", width="20")
    td(height="40", width="220", align="left")
        a(href="/"): img(src="/static/cnvtg.jpg")
        font(color="#ffffff")=lang.legacy
    td(height="40", align="right")
        input(type="text", name="q", value=keyWord || "Search")
        | &nbsp;
        input(type="submit", name="submit", value="搜索")
        | &nbsp;
        if loginInfo.username
            font(color="#FFFFFF")=loginInfo.username
            | &nbsp;
            a(href="/logout"): font(color="#FFFFFF")=lang.logout
        else
            a(href="/login"): font(color="#FFFFFF")=lang.signin
            | &nbsp;
            font(color="#BBBBBB")=lang.signup
    td(height="40" width="20")
