table(width="100%", border="0", cellspacing="0", cellpadding="0", bgcolor="#337000", height="54px", valign="bottom"): tr
    td(height="40" width="20")
    td(height="40" width="220"): div(align="left")
        img(src="static/cnvtg.jpg")
        font(color="#ffffff") 简易版
    td(height="40"): div(align="right")
        input(type="text" name="search" value="Search")
        input(type="submit" name="submit" value="搜索")
        a(href="/login"): font(color="#FFFFFF") 登陆
        a(href="/login"): font(color="#FFFFFF") 注册
    td(height="40" width="20")
